<%= if @live_action in [:setup] do %>
  <%= live_modal @socket, ElixiriusWeb.ProjectLive.FormComponent,
    id: @project.id,
    title: @page_title,
    action: @live_action,
    project: @project,
    current_user: @current_user,
    return_to: Routes.project_show_path(@socket, :show, @project.slug) %>
<% end %>

<span><%= live_redirect "Setup", to: Routes.project_show_path(@socket, :setup, @project.slug) %></span>

<h2><%= @project.name %></h2>

project builder might be here
